{include file='public/header'/}
<title>添加用户 - H-ui.admin v3.1</title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
	<form action="" method="" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>班级:</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="grade" name="grade">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="button" onclick="check()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

{include file="public/bottom"/}

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
	function check() {
		var index = parent.layer.getFrameIndex(window.name);
		var grade = $('#grade').val();
		if ( grade == '') {
			layer.alert('班级不能为空', {
				icon: 2
			});
			return;
		}

		$.ajax({
			url: "{:URL('index/grade/add')}",
			type: 'get',
			dataType: 'json',
			data: {
				grade: grade,
			},
			success: function (res) {
				console.log(res)
				if (res.code == 1) {
					layer.msg(res.msg, {
						offset: '30px',
						icon: 1,
						time: 1500
					},function () {
						window.parent.location.reload();
						parent.layer.close(index);

					})
				} else if (res.code == 2) {
					parent.layer.close(index);
					location.href = '{:URL('
					index /grade/ index
					')}'; //数据页
				} else {
					layer.msg(res.msg, {
						offset: '15px',
						icon: 5,
						time: 1000
					})
				}
			},
			error: function (XMLHttpRequest, textStatus, errorThrown) {
				layer.alert('网络失败，请刷新页面后重试', {
					icon: 2
				});
			}
		})

	}
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>