<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="__STATIC__/layer/default/layer.css" rel="stylesheet">
    <style>
        table th,td{
            width: 10%;
            height: 50px;
            text-align: center;
        }
        a{
            text-decoration: none;
            color:black;
        }
        a{
            text-decoration: none;
            color:black;
        }
        .cc {
            text-align: center;
            margin:5px;
        }
    </style>
</head>
<body>
<div style="text-align: center;font-size: 25px;font-weight: bold">编辑学生</div>
<form action="" method="post">
    <input type="hidden" value="{$gid}" id="gid">
    <div class="cc">班级：<input id="g_name" type="text" value="{$gra}"></div>
    <div class="cc"><input type="button" value="提交" onclick="check()"></div>
</form>
</body>
<script src="__STATIC__/js/jquery-1.8.1.min.js"></script>
<script src="__STATIC__/js/layer.js"></script>
<script>
    function check(){
        var g_name = $('#g_name').val();
        var gid = $('#gid').val();
        if (g_name == '') {
            layer.alert('班级不能为空', {
                icon: 2
            });
            return;
        }

        $.ajax({
            url: "{:URL('index/grade/edit')}",
            type: 'post',
            dataType: 'json',
            data: {
                g_name: g_name,
                gid : gid,
            },
            success: function(res) {
                console.log(res)
                if (res.code == 0) {
                    layer.msg(res.msg, {
                        offset: '170px',
                        icon: 5,
                        time:1000
                    })
                }else {
                    layer.msg(res.msg, {
                        offset: '15px',
                        icon: 6,
                        time:1000
                    },function(){
                        location.href = '{:URL('index/grade/index')}'; //数据页
                    });

                }
            },
            // error: function(XMLHttpRequest, textStatus, errorThrown) {
            //     layer.alert('网络失败，请刷新页面后重试', {
            //         icon: 2
            //     });
            // }
        })
    }
</script>
</html>